version: '3.8'

services:
  napi-rs:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./source:/app
      - ./lib:/source/output
    working_dir: /app
    # command: npm run build
    environment:
      - RUST_BACKTRACE=1
