version: '3.8'

services:
  napi-rs:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    command: npm run build
    environment:
      - RUST_BACKTRACE=1
