version: '3.8'

services:
  napi-rs:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./lib:/tmp/output
      - ./source:/app
    working_dir: /app
    command: napi build --platform --release -o /tmp/output
    environment:
      - RUST_BACKTRACE=1
